# Django and REST
Django==5.2.10
djangorestframework==3.16.1
django-cors-headers==4.9.0

# Database
psycopg-binary==3.3.2
pgvector==0.4.2  

# Celery & async 
celery==5.6.2
django_celery_results==2.6.0
redis==7.1.0

# Sentence embeddings (optional, only if using locally)
sentence-transformers==5.2.0
torch==2.9.1

# Utilities
requests==2.31.0
python-dotenv==1.2.1
tqdm==4.67.1
